<script type="text/ng-template" id="wgn-add-interaction.html">
    <div ng-controller="wgnAddInetraction"> 
        <h3>Add Note</h3>
        <form class="form">
            <div class="control-group">
                <label class="form-label">Subject</label>
                <div class="controls">
                    <input type="text" ng-model="subject" class="input-xlarge">
                
                </div>
            </div>
            <div class="control-group">
                <label class="form-label">Follow up date</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" placeholder="mm/dd/yyyy" ng-model="date" ng-focus="opened=true" is-open="opened" datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                </div>
            </div>
            <div class="control-group">
                <label class="form-label">Notes</label>
                <div class="controls">
                    <textarea ng-model="notes" class="input-xlarge"></textarea>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="wgn-add-snooze.html">
    <div ng-controller="wgnAddSnooze">
        <h3>Add Snooze</h3>
        <form class="form">
            <div class="control-group">
                <label class="form-label">Follow up date</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" placeholder="mm/dd/yyyy" ng-model="date" ng-focus="opened=true" is-open="opened" datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="wgn-view-grants.html">
    <div ng-controller="wgnViewGrants">
        <h3>List of Grants</h3>
        <div class="message" ng-show="grants.length==0">Oooops, no grants found!</div>
        <table class="table table-striped" ng-show="grants.length>0">
            <thead>
                <tr>
                    <th>{{field1Title}}</th>
                    <th>{{field2Title}}</th>
                    <th>{{field3Title}}</th>
                    <th><button ng-show="!allApproved" class="btn btn-small" ng-model="allApproved" ng-click="approveAll()">Approve All</button>
                        <span ng-show="allApproved">Approval Status</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="grant-item" ng-repeat="grant in grants">
                    <td  ng-click="showGrant(grant)">{{grant[field1name]}}</td>
                    <td  ng-click="showGrant(grant)">{{grant[field2name]}}</td>
                    <td  ng-click="showGrant(grant)">${{grant[field3name] | number:2}}</td>
                    <td><select ng-options="value as key for (key, value) in approvalFieldOptions" ng-model="grant[approvalFieldName]" ng-change="approveGrant(grant)"></td>
                </tr>
                <tr ng-show="showTotal">
                    <th colspan="2" style="text-align:right; font-weight: bold;">Total</th>
                    <th>${{total | number:2}}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="wgn-view-interactions.html">
    <div ng-controller="wgnViewInetractions">
        <h3>Player Notes</h3>
        <div class="message" ng-show="interactions.length==0">Oooops, no notes found!</div>
        <ul class="list" ng-show="interactions.length>0">
            <li ng-repeat="interaction in interactions">
                <div class="list-item-wrapper">
                    <div class="list-item-info-wrapper note-item">
                        <div class="interaction-first-line">
                            <span class="badge pull-right">
                                <a target="_blank" ng-click="showNote(interaction);" href="">
                                    <i class="icon-link-1"></i>
                                </a>
                            </span>
                            <span class="date-holder" ng-click="showNote(interaction);">{{interaction.created.split('T')[0]}}</span>
                            <span class="contact-holder" ng-click="showNote(interaction);">{{interaction.createdByUser.displayName}}</span>
                        </div>
                        <div class="list-item-headline" ng-click="showNote(interaction);">
                            <b> {{interaction['field'+rootScope.notesSubjectField]}} </b>
                        </div>
                        <div class="list-item-subline" ng-click="showNote(interaction);">
                            <span class="subline">{{interaction['field'+rootScope.notesNotesField]}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="wgn-view-opportunity.html">
    <style>
        .view-opportunity-modal{
            position:absolute !important;
            margin-bottom: 5% !important;
        }
        .view-opportunity-modal .modal-body{
            max-height:none !important;
        }
        body.overflow-off,html{
          overflow: visible !important;  
        }
    </style>
    <div  ng-controller="wgnViewOpportunity">
        <div class="view-opportunity-area">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-group">
                            <label  class="form-label">Opportunity Name</label>
                            <div class="controls">
                                <input type="text" ng-model="item.opportunity_name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="control-group">
                            <label  class="form-label">Follow-up Date</label>
                            <div class="controls">
                                <input type="text" placeholder="mm/dd/yyyy" ng-model="item.follow_up_date" ng-focus="opened=true" is-open="opened" datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="control-group">
                            <label  class="form-label">Follow-up Desc</label>
                            <div class="controls">
                                <input type="text" ng-model="item.follow_up_desc" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="control-group">
                            <label  class="form-label">Rep</label>
                            <div class="controls">
                                <select ng-model="item.rep">
                                    <option ng-selected="item.rep==member.user.id" value="{{member.user.id}}" ng-repeat="member in members">{{member.user.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="control-group">
                            <label  class="form-label">Close Month</label>
                            <div class="controls">
                                <input type="text" ng-model="item.close_month" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="control-group">
                            <label  class="form-label">Value</label>
                            <div class="controls">
                                <input type="text" ng-model="item.value" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="tabs-view-opportunity-modal">
                <a href="" ng-click="active_tab='qualification'" ng-class="{'active':active_tab=='qualification'}" >Qualification</a>
                <a href="" ng-click="active_tab='notes'" ng-class="{'active':active_tab=='notes'}" >Notes</a>
            </div>
            <div class="tabs-border"></div>
            <div class="qualification-tab" ng-show="active_tab=='qualification'">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label  class="form-label">Decision Date</label>
                                <div class="controls">
                                    <input type="text" placeholder="mm/dd/yyyy" ng-model="item.decision_date" ng-focus="opened2=true" is-open="opened2" datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label  class="form-label">Go Live Date</label>
                                <div class="controls">
                                    <input type="text" placeholder="mm/dd/yyyy" ng-model="item.go_live_date" ng-focus="opened3=true" is-open="opened3" datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Fit</label>
                                <div class="controls">
                                    <textarea ng-model="item.fit" class="input-xxlarge middle-texts"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Need</label>
                                <div class="controls">
                                    <textarea ng-model="item.need" class="input-xxlarge middle-texts"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Budget</label>
                                <div class="controls">
                                    <textarea ng-model="item.budget" class="input-xxlarge middle-texts"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Process</label>
                                <div class="controls">
                                    <textarea ng-model="item.process" class="input-xxlarge middle-texts"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-border inside-tabs"></div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label  class="form-label">Contact</label>
                                <div class="controls">
                                    <input type="text" onkeydown="return false;"  ng-model="item.contact" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label  class="form-label">Type</label>
                                <div class="controls">
                                    <select ng-model="item.type">
                                        <option ng-selected="item.type==key" value="{{key}}" ng-repeat="(key, option) in type_settings.settings.properties.choices">{{option}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label  class="form-label">Platform</label>
                                <div class="controls">
                                    <select ng-model="item.platform">
                                        <option ng-selected="item.platform==key" value="{{key}}" ng-repeat="(key, option) in platform_settings.settings.properties.choices">{{option}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Description</label>
                                <div class="controls">
                                    <textarea ng-model="item.description" class="input-xxlarge "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notes-tab" ng-show="active_tab=='notes'">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label  class="form-label">Notes</label>
                                <div class="controls">
                                    <textarea ng-model="item.notes" class="input-xxlarge notes "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear">
                <!---->
            </div>
        </div>
    </div>
</script>