<script type="text/ng-template" id="wgn-main">
    <div class="dropdown_holder" ng-show="!loading">
        <div class="pull-right">
            <a href="" class="btn btn-small btn-default" ng-click="refresh()">
                <span class="throbber" ng-show="refresh_mode"></span> Refresh
                <span ng-show="refresh_mode">ing...</span>
            </a>
        </div>
        <a href="" class="btn btn-small btn-success" ng-click="add_record()">
            <i class="icon-plus"></i>
            <span class="mobile-hidden"> Add {{selectedFormObject.singularName}}</span>
        </a>
        <span class="data-separator">|</span>
        <div class="dropdown subheader-dropdown views_dropdown" class="">
            <div data-toggle="dropdown">
                <a href="" class="btn btn-small data-subheader-dataviews-name">View
        
                    <span ng-show="selected_data_view && all_data_views.length!==view_not_belong_to_form" class="ng-binding">{{selected_data_view_name}}</span>
                </a>
                <a href="" class="btn btn-small">
                    <i class="icon-down-dir"></i>
                </a>
            </div>
            <ul class="dropdown-menu data-subheader-dataviews-menu">
                <li ng-repeat="view in all_data_views|orderBy:'name'">
                    <a href="" ng-click="set_selected_data_view(view);">{{view.name}}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" ng-click="set_selected_data_view(false);">Reset View</a>
                </li>
            </ul>
        </div>
        <div class="sep"></div>
        <div class="message message-alert" ng-show="(title_field_not_set||description_field_not_set) && !loading">Please setup the title and description fields you want to present on settings panel</div>
        <div class="message message-alert" ng-show="error_columns && !loading">{{error_columns}}</div>
    </div>
    <div ng-show="loading">Loading 
        <span class="throbber"></span>
    </div>
    <div ng-repeat="group in relatedRecords">
        <h3 class="sec-title" ng-show="group.name&&groupingEnabled">{{group.name}}</h3>
        <h3 class="sec-title" ng-show="!group.name&&groupingEnabled">Grouping field title not set</h3>
        <!-- Board Canvas -->
        <div class="board " ng-show="!error_columns&&!loading&&(!title_field_not_set||!description_field_not_set)">
            <div class="wrapper columns " ui-sortable="sortableFoldersOptions" ng-model="folders">
                <!-- Folder Column -->
                <!-- view_folders.length==0 || view_folders.indexOf(folder.id)!=-1 -->
                <div ng-repeat="folder in folders track by $index" ng-show="folder.show || folder.show===undefined" class="column" ng-class="{'no-sort':folder.id==0}" ng-show="folder">
                    <!-- Display Folder Name -->
                    <div class="name" data-id="{{folder.id}}">
                        <span class="pill pill-danger pull-right" ng-show="folder.total">{{folder.total|currency}}</span>
                        <input ng-show="folder.edit_folder&&folder.id!=0" type="text" class="folder-name-input" ng-model="folder.name" />
                        <a href="" ng-show="folder.edit_folder&&folder.id!=0" ng-click="editFolder(folder);" class="btn btn-primary">Save</a>
                        <a class="btn  btn-white btn-danger-text" ng-click="folder.edit_folder=!folder.edit_folder;" ng-show="folder.edit_folder&&folder.id!=0">
                            <i class="icon icon-cancel"></i>
                        </a>
                        <a href="#" ng-click="folder.edit_folder=!folder.edit_folder" ng-show="!folder.edit_folder && folder.id!==0">{{folder.name}}</a>
                        <span ng-show="folder.id==0">{{folder.name}}</span>
                    </div>
                    <!-- Folder Records List -->
                    <ul ng-click="addRecord();" data-group="{{group.id}}" data-id="{{folder.id}}" wgn-ui-multi-sortable ui-options="sortableOptions" ng-model="folderRecords" model-subset="[folder.id][group.id].records" class="records-container">
                        <li data-id="{{record.id}}" data-group="{{group.id}}" data-order="{{record.order_num}}" ng-repeat="record in folderRecords[folder.id][group.id].records" ng-mouseleave="show_edit_icon=false;" class="record">
                            <div >
                                <div ng-click="openRecord(record);" class="record-name-text">{{format_field(record[title_field_name])}}</div>
                                <div ng-click="openRecord(record);" class="record-description-text">
                                    <span>{{format_field(record[description_field_name])}}</span>
                                </div>
                                <div class="sep_list"></div>
                                <div class="actions-area">
                                    <a href="" tooltip-placement="right" tooltip="View notes" ng-click="view_interactions(record);">
                                        <i class="icon-th-list"></i>
                                    </a>
                                    <a href="" tooltip-placement="right" tooltip="Add note" ng-click="add_interaction(record);">
                                        <i class="icon-plus-circled"></i>
                                    </a>
                                    <a href=""   tooltip-placement="right" ng-click="view_grants(record, true);" tooltip="Show Engagement Payments">
                                        <i class="icon-check"></i>
                                    </a>
                                    <a href=""   tooltip-placement="right" ng-click="view_grants(record);" tooltip="Show All Payments">
                                        <i class="icon-dollar"></i>
                                    </a>
                                </div>
                                <div class="avatar" ng-click="openRecord(record);">
                                    <img ng-show="users_objects[record[assignToFieldName].id].settings.avatarUrl" ng-src="{{users_objects[record[assignToFieldName].id].settings.avatarUrl}}" />
                                    <i ng-show="!users_objects[record[assignToFieldName].id].settings.avatarUrl" class="icon-member" ng-hide="editUser.settings.avatarUrl"></i>
                                </div>
                                <div ng-click="openRecord(record);" class="dots" ng-show="dots_field.length>0 || record[follow_up_field_name]" ng-class="{'green':get_date_diffrence(record[last_activity_field_name])<=recentField,'orange':(get_date_diffrence(record[last_activity_field_name])>recentField && get_date_diffrence(record[last_activity_field_name])<=currentField),'red': get_date_diffrence(record[last_activity_field_name])>overdueField,'blue':checkDate(record[follow_up_field_name])}">
                                    <div class="dot" ng-show="record[value_field_name] && (dots_field[0]==record[value_field_name]||dots_field[1]==record[value_field_name] || dots_field[2]==record[value_field_name] || dots_field[3]==record[value_field_name] ||dots_field[4]==record[value_field_name])||checkDate(record[follow_up_field_name])"></div>
                                    <div class="dot" ng-show="record[value_field_name] && (dots_field[1]==record[value_field_name]||dots_field[2]==record[value_field_name] || dots_field[3]==record[value_field_name] ||dots_field[4]==record[value_field_name])"></div>
                                    <div class="dot" ng-show="record[value_field_name] && (dots_field[2]==record[value_field_name] || dots_field[3]==record[value_field_name] ||dots_field[4]==record[value_field_name])"></div>
                                    <div class="dot" ng-show="record[value_field_name] && (dots_field[3]==record[value_field_name]  ||dots_field[4]==record[value_field_name])  "></div>
                                    <div class="dot" ng-show="record[value_field_name] && dots_field[4]==record[value_field_name]"></div>
                                </div>
                                <div ng-click="openRecord(record);" class="amount" tooltip-placement="left" >{{record[amount_field_name]|currency:"$"}}
                                </div>
                                <div ng-click="openRecord(record);" class="state" >{{record[state_field_name]}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>