<script type="text/ng-template" id="wgn-settings">
    <div>
        <span class="settings-container">
            <div ng-show="!selectedFormObject">Loading 
                <span class="throbber"></span>
            </div>
            <div class="settings-holder" ng-show="selectedFormObject">
                <label>Basic Settings</label>
                <br/>
                <label>Select which form you want to present</label>
                <select ng-change="selectedFormChanged();" ng-model="selectedForm">
                    <option value="1">Select A Form</option>
                    <option ng-repeat="item in all_forms|filter:formsFilter" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label>Linked Field to Player Form</label>
                <select ng-model="contactFormField">
                    <option ng-selected="nameField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm}|filter:{type:'linked'}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Select the Player form</label>
                <select ng-change="selectedFormChanged();" ng-model="contactForm">
                    <option value="1">Select A Form</option>
                    <option ng-repeat="item in all_forms|filter:formsFilter" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label>Name Field</label>
                <select ng-model="nameField">
                    <option ng-selected="nameField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm}|wgnFieldsFilter" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Seasons Field (from Player form)</label>
                <select ng-model="seasonsField">
                    <option ng-selected="seasonsField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:contactForm}|wgnFieldsFilterWithLinked" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>State Field (from Player form)</label>
                <select ng-model="stateField">
                    <option ng-selected="stateField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:contactForm}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>AssignTo Field</label>
                <select ng-model="assignToField">
                    <option ng-selected="assignToField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm,type:'member'}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Amount Field (from Player form)</label>
                <select ng-model="amountField">
                    <option ng-selected="amountField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:contactForm}|wgnFieldsFilter" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Value Field</label>
                <select ng-model="valueField">
                    <option ng-selected="valueField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm,type:'dropdown'}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Last Activity Field</label>
                <select ng-model="lastActivityField">
                    <option ng-selected="lastActivityField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm,type:'date-picker'}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <div class="indicators-area">
                    <label>Recent indicator 
                        <span>(less than or equal)</span>
                    </label>
                    <input ng-model="recentField" type="text" width="100%" />
                    <label>Current indicator 
                        <span>(less than or equal)</span>
                    </label>
                    <input ng-model="currentField" type="text" width="100%" />
                    <label>Overdue indicator 
                        <span>(greater than)</span>
                    </label>
                    <input ng-model="overdueField" type="text" width="100%" />
                </div>
                <label>Follow Up Field</label>
                <select ng-model="followUpField">
                    <option ng-selected="followUpField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:selectedForm,type:'date-picker'}" value="{{item.id}}">{{item.label}}</option>
                </select>
            </div>
        </span>
        <span class="settings-container">
            <div  class="settings-holder" ng-show="selectedFormObject">
                <label>Interactions Settings</label>
                <br/>
                <label>Notes Form</label>
                <select   ng-model="notesFormField">
                    <option ng-selected="notesFormField==item.id" ng-repeat="item in all_forms" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label>Notes Engagement Field</label>
                <select  ng-model="notesEngagementField">
                    <option ng-selected="notesEngagementField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:notesFormField}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Notes Subject Field</label>
                <select  ng-model="notesSubjectField">
                    <option ng-selected="notesSubjectField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:notesFormField}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Notes Notes Field</label>
                <select  ng-model="notesNotesField">
                    <option ng-selected="notesNotesField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:notesFormField}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Notes URL Field</label>
                <select  ng-model="notesURLField">
                    <option ng-selected="notesURLField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:notesFormField}" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Notes Followup Date Field</label>
                <select  ng-model="notesDateField">
                    <option ng-selected="notesDateField==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:notesFormField}" value="{{item.id}}">{{item.label}}</option>
                </select>
            </div>
        </span>
        <span class="settings-container">
            <div  class="settings-holder" ng-show="selectedFormObject">
                <label>Grant list setting</label>
                <br/>
                <label>Grant Form</label>
                <select ng-model="grantFormField">
                    <option ng-selected="grantFormField==item.id" ng-repeat="item in all_forms" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label>Field 1</label>
                <select ng-model="field1Field">
                    <option ng-selected="field1Field==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:grantFormField}|wgnFieldsFilter" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Field 2</label>
                <select ng-model="field2Field">
                    <option ng-selected="field2Field==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:grantFormField}|wgnFieldsFilter" value="{{item.id}}">{{item.label}}</option>
                </select>
                <label>Field3</label>
                <select ng-model="field3Field">
                    <option ng-selected="field3Field==item.id" ng-repeat="item in all_forms_fields|filter:{form_id:grantFormField}|wgnFieldsFilter" value="{{item.id}}">{{item.label}}</option>
                </select>

                <label>Approval Status</label>
                <select ng-model="approvalField" ng-options="field.id as field.label for field in all_forms_fields | filter:{form_id:grantFormField, type:'!linked'}">
                </select>

                <a class="btn btn-block" ng-show="!loading_settings" ng-click="save_plugin_settings_all();" href="">Save</a>
                <div class="btn btn-block saving" ng-show="loading_settings">Saving 
                    <span class="throbber"></span>
                </div>
            </div>
        </span>
        <div class="clearfix">
    </div>
    </div>
</script>