 .columns {
    -ms-flex-align: start;
    -moz-box-align: start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 30px;
    height: auto;
    position: fixed;
    top: 120px;
    left: 20px;
    right: 20px;
    bottom: 10px;
}

 .columns {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

 .columns::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

 .columns::-webkit-scrollbar-button:end:increment,
 .columns::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none;
}

 .columns::-webkit-scrollbar-track-piece {
    background: #d6dadc;
}

 .columns::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0;
}

 .columns::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px;
}

 .columns::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px;
}

 .columns::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0;
}

 .columns::-webkit-scrollbar-thumb:horizontal,
 .columns::-webkit-scrollbar-thumb:vertical {
    background: #bbb;
    border-radius: 5px;
    display: block;
    height: 50px;
}

 .header-line {
    color: purple;
}

 .column {
    background-color: #fafafa;
    box-shadow: 0px 2px 2px rgba(136, 136, 136, 0.43);
    padding: 15px 5px 15px 15px;
    margin: 0 5px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 325px;
    -webkit-flex: 0 0 325px;
    flex: 0 0 325px;
    min-height: 200px;
    max-height: 100%;
    position: relative;
    width: 325px;
}

 .column li {
    background-color: #fff;
    padding: 10px 5px 10px 5px;
    margin: 0px 5px 1px 0px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

 .add-card-form {
    background-color: #fff;
    padding: 10px 5px 10px 5px;
    margin: 10px 20px 10px 0px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    display: inline-table;
    width: 100%;
}

 .margin-right-class {
    display: inline-table;
    width: 295px;
}

 .margin-bottom-class {
    margin-bottom: 45px;
}

 .column .name {
    font-weight: bold;
    margin-left: 6px;
}

 .column ul {
    min-height: 50px;
    overflow-x: hidden;
    margin-top: 5px;
    padding-bottom: 20px;
}

 .column ul {
    -webkit-overflow-scrolling: touch;
}

 .column ul::-webkit-scrollbar {
    height: 9px;
    width: 5px;
    padding: 10px;
}

 .column ul::-webkit-scrollbar-button:end:increment,
 .column ul::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none;
}

 .column ul::-webkit-scrollbar-track-piece {
    background: none;
}

 .column ul::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0;
}

 .column ul::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px;
}

 .column ul::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px;
}

 .column ul::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0;
}

 .column ul::-webkit-scrollbar-thumb:horizontal,
 .column ul::-webkit-scrollbar-thumb:vertical {
    background: #c4c9cc;
    border-radius: 5px;
    display: block;
    height: 50px;
}

 .column.no-sort {
    background: #eee;
    cursor: pointer;
    color: #888;
}

 .column.no-sort:hover {
    background: #f1f1f1;
}

 .folder-name-input {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, .15);
    display: block;
    width: 100%;
    padding: 7px 10px;
    outline: none;
    margin-bottom: 5px;
}

 .record {
    cursor: move;
}

 .board {
    margin-top: 10px;
}

 .open-card-composer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #8c8c8c;
    display: block;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 2px -3px -3px;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;
}

 .name .pull-right {
    margin-top: -5px;
}

 .name .icon-cancel {
    font-size: 11px;
    font-weight: normal;
}

 .record-name-text,
 .record-description-text {
    width: auto;
    line-height: 20px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0px 10px;
    overflow: hidden;
    word-wrap: break-word;
    color: #999;
    -webkit-appearance: none;
    position: relative;
    margin-left: 35px;
    font-size: 0.9em;
}

 .record-description-text {
    height: 20px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .record-name-text {
    height: 17px;
    color: #333;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 35px;
}

 .sep_list {
    margin-left: 45px;
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
    margin-bottom: 7px;
    width: 210px;
    margin-top: -2px;
}

 textarea.record-name-text {
    height: 20px;
    color: #333;
    width: 100%;
}

 .record-description-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0%;
    height: 1.4em;
    padding-right: 16px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%);
}

 .sep {
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;
    margin-top: 10px;
}

 .ui-sortable-helper {
    z-index: 999999 !important;
}

 .cursor-pointer {
    cursor: pointer;
}

 .settings-holder,
 .columns-holder {
    width: 300px;
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    font-size: 1em;
    color: #666;
    display: inline-block;
    padding: 1em;
    border-radius: 3px;
    z-index: 999;
    vertical-align: top;
    min-height: 300px;
}

 .settings-holder {
    min-height: 550px;
}

 .settings-holder select,
 .columns-holder select,
 .add-folder-holder select {
    width: 100%;
    line-height: 25px;
}

 .settings-holder label,
 .columns-holder label,
 .add-folder-holder label {
    margin: 10px 0px;
}

 .settings-holder .btn,
 .columns-holder .btn,
 .add-folder-holder .btn {
    margin-top: 10px;
}

 .settings-container,
 .columns-container {
    position: relative;
    display: inline-block;
}

 .settings-columns-holder {
    padding: 5px 5px 0px 5px;
    position: absolute;
    right: 15px;
    z-index: 2;
}

 .clearfix {
    clear: both;
}

 .btn-link {
    background: none;
    color: #bd503e;
}

 .sec-title {
    border-top: 1px solid #80a5d5;
    padding-top: 15px;
    margin-top: 10px;
    font-weight: bold;
    padding-left: 5px;
}

 .settings-holder .checkbox-label {
    margin-top: 30px;
    margin-bottom: 10px;
}

 .settings-holder .message {
    margin-top: 10px;
}

 .checkbox-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

 .column li {
    position: relative;
}

 .column li .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
}

 .column li .dots {
    position: absolute;
    top: 9px;
    right: 5px;
    width: 10px;
}

 .column li .amount {
    position: absolute;
    bottom: 4px;
    right: 36px;
    max-width: 76px;
    color: #8dbc6b;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
}

 .column li .state {
    position: absolute;
    top: 15px;
    right: 36px;
    max-width: 76px;
    color: #000;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
}

 .column li .actions-icon {
    position: absolute;
    top: 45px;
    left: 22px;
    color: #999;
    height: 20px;
    font-size: 0.8em;
}

 .actions-panel-holder {
    position: relative;
}

 .actions-panel-list {
    position: absolute;
    top: 2px;
    left: 9px;
    width: 98px;
    background: #f9f9f9;
    z-index: 99999;
    box-shadow: 0px 0px 3px #999;
    padding: 10px;
    min-height: 30px;
}

 .column li .dot {
    background: green;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-bottom: 3px;
}

 .column li .dots.orange .dot {
    background: orange;
}

 .column li .dots.red .dot {
    background: red;
}

 .column li .dots.blue .dot {
    background: #3a7297;
}

 .column li .avatar i {
    font-size: 24px;
    line-height: normal;
}

 .columns-holder label.checkbox-label {
    font-weight: normal;
}

 .message {
    margin-top: 10px;
}

 .add-folder-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 5px;
}

 .add-folder-container .link {
    text-decoration: underline;
    color: #5a5854;
}

 .settings-holder .linked-form {
    margin-top: 5px;
}

 .settings-holder .grouping-field-select {
    margin-bottom: 20px;
}

 .dropdown_holder {
    position: fixed;
    left: 25px;
    right: 25px;
    z-index: 1;
}

 .settings-holder h4 {
    margin: 0px !important;
    line-height: 20px;
}

 .add-card-form textarea.record-name-text,
 .add-card-form .record-description-text {
    width: 100%;
    margin: 0px;
}

 .add-card-form {
    width: 295px;
}

 .ui-select-bootstrap {
    width: 100%;
    border: 1px solid #eee;
}

 .views_dropdown {
    display: inline-block;
}

 .view-interactions-modal .list-item-info-wrapper {
    width: 100%;
}

 .view-interactions-modal .list li {
    margin-bottom: 2px;
}

 .view-interactions-modal .interaction-first-line {
    font-size: 0.85em;
    color: #666;
    margin-bottom: 5px;
}

 .view-interactions-modal .interaction-first-line .date-holder {
    margin-right: 50px;
}

 .add-interaction-modal .modal-body {
    min-height: 400px;
}

 .add-interaction-modal .input-xlarge {
    width: 100%;
}

 .add-interaction-modal textarea.input-xlarge {
    height: 150px;
}

 .contact-meta-info {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 0.9em;
    padding: 10px;
}

 .contact-meta-info div {
    border-top: 1px dotted #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

 .contact-meta-info div:first-child {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}

 .snooze-modal {
    height: 200px !important;
    overflow: visible !important;
}

 .snooze-modal .modal-body {
    min-height: auto;
    overflow: visible !important;
    /*.add-interaction-modal.snooze-modal .modal-body{
    */
    /*    min-height:100px !important;
    */
    /*}
*/
}

 .snooze-modal .control-group {
    margin: 0px;
}

 .snooze-modal .form input[type=text] {
    width: 100%;
}

 .actions-area {
    font-size: 0.9em;
    margin-left: 45px;
    cursor: pointer;
}

 .indicators-area label span {
    font-weight: normal !important;
}

 .indicators-area input {
    width: 100% !important;
}

 .actions-area a {
    color: #8ca6b7;
    padding: 0px 2px;
    margin-right: 0px;
    margin-left: 0px;
}

 .actions-area a:first-child {
    padding-left: 0px;
}

 .view-opportunity-modal {
    background: #f2f2f2;
    border: 1px solid #565656;
    border-radius: 0px;
    box-shadow: none;
    left: 5%;
    right: 5%;
    margin: 0px 0px;
    float: none;
    width: 90%;
}

 .view-opportunity-modal .form-horizontal .form-label {
    padding-top: 0.2rem;
}

 .view-opportunity-modal .form-horizontal .controls input,
 .view-opportunity-modal .form-horizontal .controls select {
    width: 100%;
}

 .view-opportunity-modal .form-horizontal .controls textarea {
    width: 100%;
    height: 150px;
    box-shadow: inset 0 0 1px #827878;
    border: 1px solid #fff;
    padding: 5px;
}

 .view-opportunity-modal .form-horizontal .controls textarea.notes {
    width: 100%;
    height: 200px;
    box-shadow: inset 0 0 1px #827878;
    border: 1px solid #fff;
    padding: 5px;
}

 .view-opportunity-modal .clear {
    clear: both;
}

 .view-opportunity-modal .tabs-view-opportunity-modal a {
    display: inline-block;
    padding: 4px 10px;
    border: none;
    border-bottom: none;
    position: relative;
    z-index: 10;
    background: #f2f2f2;
}

 .view-opportunity-modal .tabs-view-opportunity-modal a.active {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    position: relative;
    z-index: 10;
    background: #f2f2f2;
}

 .view-opportunity-modal .tabs-border {
    border-bottom: 1px solid #e5e5e5;
    margin-top: -1px;
    position: relative;
    z-index: 1;
}

 .view-opportunity-modal .tabs-border.inside-tabs {
    border-bottom: 1px solid #e5e5e5;
    margin: 10px 0px 20px 0px;
    position: relative;
    z-index: 1;
}

 .view-opportunity-modal .qualification-tab,
 .view-opportunity-modal .notes-tab {
    padding: 20px 0px 0px 0px;
}

 .view-opportunity-modal .view-opportunity-area {
    padding: 20px 0px 0px 0px;
}

 .view-opportunity-modal .form-horizontal .controls textarea.middle-texts {
    height: 50px;
}

 .note-item,
 .grant-item {
    cursor: pointer;
}